<ptplugin name="{{p.id}}" engine="helpOverlay">
	<settings>
		<option name="help_hijack" value="{{p.hijack.value}}" type="bool" />
		{% if p.helpIcon.fileName %}
			<option name="help_icon" value="%FIRSTXML%/{{pluginDirectory}}/{{p.helpIcon.fileName}}" type="string" />
		{% else %}
			<option name="help_icon" value="" type="string" />
		{% endif %}
		<option name="help_onstart" value='{{p.showonstart.value}}' type='bool' />
		<option name="greeting" value='{{p.helpNameText.value}}' type='string' />

		<option name="button_position" value="{{p.buttonPosition.positionString}}" type="string" />
		<option name="button_offsetX" value="{{p.buttonPosition.x}}" type="int" />
		<option name="button_offsetY" value="{{p.buttonPosition.y}}" type="int" />

		<option name="button_font_family" value="{{ p.font.family }}" type="string" />
		<option name="button_font_bold" value="{{ p.font.bold }}" type="bool" />
		<option name="button_font_italics" value="{{ p.font.italic }}" type="bool" />
		<option name="button_font_underline" value="{{ p.font.underline }}" type="bool" />
		<option name="button_font_strikethrough" value="{{ p.font.strikethrough }}" type="bool" />
		<option name="button_font_size" value="{{p.font.size}}" type="int" />

		<option name="button_sizeX" value="{{p.buttonSizeX.value}}" type="int" />
		<option name="button_sizeY" value="{{p.buttonSizeY.value}}" type="int" />

		<option name="button_backgroundColor" value="{{p.background.colorRRGGBB}}" type="string" />
		<option name="button_backgroundAlpha" value="{{p.background.alpha}}" type="float" />

		<option name="button_text" value="{{p.btnTxt.value}}" type="string" />

	</settings>
</ptplugin>
